
/* Pertains to the top of the website */
.tape {
    position: relative;
    width: 100%;
}

.tape img {
    width: 1330px;
    height: 100%;
    display: block;
}

.logo {
    position:absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
}

.logo img {
    width: 150px; /* Adjust size as needed */
    height: auto;
}

/* Controls the position of the embedded YT video*/
.Video {
    position: absolute; /* Position the video absolutely within the container */
    top: 180px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.txtorganizer {
        position: absolute;
        z-index: 1;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

.image-container {
display: inline-block; /* Ensures the container fits the image size */
overflow: hidden; /* Clips the blur effect within the container */
}
    
.bg {
    width: 1330px; /* Set your desired width */
    height: auto; /* Set your desired height */
    background-size: cover;
    filter: blur(5px);
     overflow: hidden; 
}