body {
    margin: 0;
    padding-bottom: 80px; /* Adjusted to ensure footer visibility */
    margin: 0;
    font-family: Arial, sans-serif;
    cursor: url('Designing/hammer.png'), auto; 
    
}

body:active {
    cursor: url('Designing/hammerclick.png'), auto; /* Cursor when clicked */
}
/* Other CSS styles */
.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 3px solid #ffb482;
}

.logo {
    width: 150px;
    height: auto;
    margin-right: 15px;
}

/* Center the title */
.title {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}

/* Style for video container to center the video */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 50%;
}

/* Video description styling */
.video-description {
    text-align: center;
    margin: 20px auto;
    width: 80%;
}

/* Styling for controls */
.controls {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

/* Styling for video category dropdown */
.video-category {
    text-align: center;
    margin: 20px 0;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 15px;
    background-color: #f1f1f1;
    position: absolute;
    width: 100%;
    bottom: 30;
    border-top: 3px solid #ffb482;
}